.allClaimList{
    padding:0.2rem 0.2rem 0.2rem 0.2rem;
}
.allClaimList .outerContent{
    display: block;
    background: #ffffff;
    padding:0.1rem 0.3rem;
}
.allClaimList .content{
    color: gray;
    padding: 0.05rem 0;
    display: block;
    font-size: 0.24rem;
}
/* 待操作、进行中、已完成、已关闭*/
.allClaimList .name, .allClaimList .operation, .allClaimList .createTime, .allClaimList .onGoing, .allClaimList .completed, .allClaimList .alreadyClosed{
    display: inline-block;
    right: 0.3rem;
    margin-bottom: 0.08rem;
    font-size: 0.28rem;
    color: gray;
}
/*待操作*/
.allClaimList .operation {
    position: absolute;
    margin-left: 2.8rem;
    font-size: 0.24rem;
    padding: 0.05rem;
    border: 0.01rem #FF0000 solid;
    background: #FF0000;
    color: #ffffff;
}
.allClaimList .operationMoney{
    position: absolute;
    margin-left: 0.8rem;
    font-size: 0.2rem;
    padding: 0.05rem;
    color: #FF0000;
}
.allClaimList .promptRed{
    font-size: 0.24rem;
    color: #FF0000;
}
.allClaimList .promptRedImg{
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAlhJREFUSA2tVjtrFFEUPufOQ0VU8IXvV4IWysZFY7YQwcLC1sLaRqIrSqKNv8BKEOKaaKHYWVgIWqSwWMQkLImZNIqtnYUEosRAkp17PGd2b7gze5PNbLwwe97fdx/nzizCKqMwPrI3CPEHh4NUCuL36fP9hZRvDQMl1l0b2r5DhQOAsNvkEsI2BLxhbCMJ4C8SvTJ2Ihukz1nncHokBOe+vHjM7gfpUD6LYn0t6rv9LlulxEEEB7OB3LZyYyQENhhpukpAr22fS+dJDWqgh66Y7fNtQ/S6Xvrqa38OfG82GzM2g8fxsn7r+XgRWqZoshqyhUDcUalcYyHPmqM4NfwHwVuQJD7d365kJ4Er0eWb6S2Psn+riXGz7NcLi/WZS/d+GV+bBZq09rI4XjnKZzehtmwa65kYWWma/0LAMz+iwqDK9+YY36WTfqg+iU+mtWGCM5PPDnOfVxn4uAA2Rxdoui76hs6gUBs6FCi/yjgnmsCJ4C6rRBduyeXtnED22fOVgHclqM2fBLy3/67xdbSC4tjTAxgi7zl0GyCRWXDxdUSgNoePuPH38b6vDBe4BDs7ZKKSjqnE9T8FZDVwieUm6JmsnCZET3lwn+uXGfxJZO25gNoj9xZ5pHby92CUgT8uztcHvl2+M28DZvXcBFFf+TODyAOFqeFTfKFuik71+A2/w6ZFt0duglQxqbN80I0PlZd8XlsIcp+BTbAevWUFgRe+52UvraeYX9G72uUlBAjEgM2mRiy2KzJx6xqwSzknlRBogpcK4Qo39B5TnEvyvwpE+OCq+QeM17JcEmFcwAAAAABJRU5ErkJggg==");
    background-size: 0.4rem ,0.4rem;
    background-color: #FF0000;
    background-repeat: no-repeat;
}

/*进行中*/
.allClaimList .onGoing {
    position: absolute;
    margin-left: 2.8rem;
    font-size: 0.24rem;
    padding: 0.05rem;
    border: 0.01rem #33CC99 solid;
    background: #33CC99;
    color: #ffffff;
}
.allClaimList .onGoingMoney{
    position: absolute;
    margin-left: 0.8rem;
    font-size: 0.2rem;
    padding: 0.05rem;
    color: #33CC99;
}
.allClaimList .promptGreen{
    font-size: 0.24rem;
    color: #33CC99;
}
.allClaimList .promptGreenImg{
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAlhJREFUSA2tVjtrFFEUPufOQ0VU8IXvV4IWysZFY7YQwcLC1sLaRqIrSqKNv8BKEOKaaKHYWVgIWqSwWMQkLImZNIqtnYUEosRAkp17PGd2b7gze5PNbLwwe97fdx/nzizCKqMwPrI3CPEHh4NUCuL36fP9hZRvDQMl1l0b2r5DhQOAsNvkEsI2BLxhbCMJ4C8SvTJ2Ihukz1nncHokBOe+vHjM7gfpUD6LYn0t6rv9LlulxEEEB7OB3LZyYyQENhhpukpAr22fS+dJDWqgh66Y7fNtQ/S6Xvrqa38OfG82GzM2g8fxsn7r+XgRWqZoshqyhUDcUalcYyHPmqM4NfwHwVuQJD7d365kJ4Er0eWb6S2Psn+riXGz7NcLi/WZS/d+GV+bBZq09rI4XjnKZzehtmwa65kYWWma/0LAMz+iwqDK9+YY36WTfqg+iU+mtWGCM5PPDnOfVxn4uAA2Rxdoui76hs6gUBs6FCi/yjgnmsCJ4C6rRBduyeXtnED22fOVgHclqM2fBLy3/67xdbSC4tjTAxgi7zl0GyCRWXDxdUSgNoePuPH38b6vDBe4BDs7ZKKSjqnE9T8FZDVwieUm6JmsnCZET3lwn+uXGfxJZO25gNoj9xZ5pHby92CUgT8uztcHvl2+M28DZvXcBFFf+TODyAOFqeFTfKFuik71+A2/w6ZFt0duglQxqbN80I0PlZd8XlsIcp+BTbAevWUFgRe+52UvraeYX9G72uUlBAjEgM2mRiy2KzJx6xqwSzknlRBogpcK4Qo39B5TnEvyvwpE+OCq+QeM17JcEmFcwAAAAABJRU5ErkJggg==");
    background-size: 0.4rem ,0.4rem;
    background-color: #33CC99;
    background-repeat: no-repeat;
}
/*已完成*/
.allClaimList .completed{
    position: absolute;
    margin-left: 2.8rem;
    font-size: 0.24rem;
    padding: 0.05rem;
    border: 0.01rem #FF9900 solid;
    background: #FF9900;
    color: #ffffff;
}
.allClaimList .completedMoney{
    position: absolute;
    margin-left: 0.8rem;
    font-size: 0.2rem;
    padding: 0.05rem;
    color: #FF9900;
}
.allClaimList .promptOrange{
    font-size: 0.24rem;
    color: #FF9900;
}
.allClaimList .promptOrangeImg{
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAlhJREFUSA2tVjtrFFEUPufOQ0VU8IXvV4IWysZFY7YQwcLC1sLaRqIrSqKNv8BKEOKaaKHYWVgIWqSwWMQkLImZNIqtnYUEosRAkp17PGd2b7gze5PNbLwwe97fdx/nzizCKqMwPrI3CPEHh4NUCuL36fP9hZRvDQMl1l0b2r5DhQOAsNvkEsI2BLxhbCMJ4C8SvTJ2Ihukz1nncHokBOe+vHjM7gfpUD6LYn0t6rv9LlulxEEEB7OB3LZyYyQENhhpukpAr22fS+dJDWqgh66Y7fNtQ/S6Xvrqa38OfG82GzM2g8fxsn7r+XgRWqZoshqyhUDcUalcYyHPmqM4NfwHwVuQJD7d365kJ4Er0eWb6S2Psn+riXGz7NcLi/WZS/d+GV+bBZq09rI4XjnKZzehtmwa65kYWWma/0LAMz+iwqDK9+YY36WTfqg+iU+mtWGCM5PPDnOfVxn4uAA2Rxdoui76hs6gUBs6FCi/yjgnmsCJ4C6rRBduyeXtnED22fOVgHclqM2fBLy3/67xdbSC4tjTAxgi7zl0GyCRWXDxdUSgNoePuPH38b6vDBe4BDs7ZKKSjqnE9T8FZDVwieUm6JmsnCZET3lwn+uXGfxJZO25gNoj9xZ5pHby92CUgT8uztcHvl2+M28DZvXcBFFf+TODyAOFqeFTfKFuik71+A2/w6ZFt0duglQxqbN80I0PlZd8XlsIcp+BTbAevWUFgRe+52UvraeYX9G72uUlBAjEgM2mRiy2KzJx6xqwSzknlRBogpcK4Qo39B5TnEvyvwpE+OCq+QeM17JcEmFcwAAAAABJRU5ErkJggg==");
    background-size: 0.4rem ,0.4rem;
    background-color: #FF9900;
    background-repeat: no-repeat;
}
/*已关闭*/
.allClaimList .alreadyClosed{
    position: absolute;
    margin-left: 2.8rem;
    font-size: 0.24rem;
    padding: 0.05rem;
    border: 0.01rem #33CCFF solid;
    background: #33CCFF;
    color: #ffffff;
}
.allClaimList .alreadyClosedMoney{
    position: absolute;
    margin-left: 0.8rem;
    font-size: 0.2rem;
    padding: 0.05rem;
    color: #33CCFF;
}
.allClaimList .promptBlue{
    font-size: 0.24rem;
    color: #33CCFF;
}
.allClaimList .promptBlueImg{
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAlhJREFUSA2tVjtrFFEUPufOQ0VU8IXvV4IWysZFY7YQwcLC1sLaRqIrSqKNv8BKEOKaaKHYWVgIWqSwWMQkLImZNIqtnYUEosRAkp17PGd2b7gze5PNbLwwe97fdx/nzizCKqMwPrI3CPEHh4NUCuL36fP9hZRvDQMl1l0b2r5DhQOAsNvkEsI2BLxhbCMJ4C8SvTJ2Ihukz1nncHokBOe+vHjM7gfpUD6LYn0t6rv9LlulxEEEB7OB3LZyYyQENhhpukpAr22fS+dJDWqgh66Y7fNtQ/S6Xvrqa38OfG82GzM2g8fxsn7r+XgRWqZoshqyhUDcUalcYyHPmqM4NfwHwVuQJD7d365kJ4Er0eWb6S2Psn+riXGz7NcLi/WZS/d+GV+bBZq09rI4XjnKZzehtmwa65kYWWma/0LAMz+iwqDK9+YY36WTfqg+iU+mtWGCM5PPDnOfVxn4uAA2Rxdoui76hs6gUBs6FCi/yjgnmsCJ4C6rRBduyeXtnED22fOVgHclqM2fBLy3/67xdbSC4tjTAxgi7zl0GyCRWXDxdUSgNoePuPH38b6vDBe4BDs7ZKKSjqnE9T8FZDVwieUm6JmsnCZET3lwn+uXGfxJZO25gNoj9xZ5pHby92CUgT8uztcHvl2+M28DZvXcBFFf+TODyAOFqeFTfKFuik71+A2/w6ZFt0duglQxqbN80I0PlZd8XlsIcp+BTbAevWUFgRe+52UvraeYX9G72uUlBAjEgM2mRiy2KzJx6xqwSzknlRBogpcK4Qo39B5TnEvyvwpE+OCq+QeM17JcEmFcwAAAAABJRU5ErkJggg==");
    background-size: 0.4rem ,0.4rem;
    background-color: #33CCFF;
    background-repeat: no-repeat;
}

.allClaimList .hrClass{
    height:0.001rem;
    remborder:none;
    border-top:0.01rem solid #EEEEEE;
}

.findMoreClaimDiv{
    padding: 0.2rem 0.2rem 0rem 0.2rem;
    color: #fff;
}
.findMoreClaimDiv .findMoreClaimSpan{
    background: #33CC99;
    display: block;
    border-radius: 0.05rem
}
.findMoreClaimDiv .findMoreClaimSpan span{
    line-height: 0.7rem;
    display: block;
    width: 2rem;
    margin: 0 auto;
    text-align: center
}




